# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL (Structured Query Language)
4. Java
5. C++
6. JavaScript
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas : Tools for data cleaning, manipulation and analysis.
2. Numpy : Arrays and matrices
3. Matplotlib : for Data visualization
4. Seaborn
5. Scikit-learn
6. Keras : for deep learning
7. ggplot2 : for visualization in R language

| Data Science Tools |
|:-----------|
| Jupyter Notebook and Jupyter Lab | Github & Gitlab  | R language |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* Get familiar with Open Source,  Cloud-based,  and Commercial tools
* Understanding the basics of the R language.
* Understanding the uses of SQL.
* Understanding of Jupyter Notebook and Jupyter Lab
* Understanding of open Data sets and Data Asset Exchange. 
* Understanding of REST API's.
* Understanding and hands-on of Github and Gitlab. 
* Basic overview of languages Java, Scala, C++, JavaScript, and Julia.